.list-button {
  float: right;
}

.list-group-item {
	overflow: auto;
}

.list-item-completed {
	background: #449d44;
	color: white;
}

.list-container {
	padding: 0 15px 15px 15px;
}

.list-container button {
	margin: 0 3px;
}

.input-button {
	margin: 10px 0;
}

.list-text {
	display: inline-block;
	margin: 5px;
}